<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <p> Foro: {{foro.nombre}}</p>

    Responder:
    {% if user.is_authenticated %}
        <form id='formulario' enctype='multipart/form-data' method='post' action=''>{% csrf_token %}
            {{formulario.texto.label}}{{formulario.texto}}{{formulario.texto.errors}}
            <input type='submit' value='Enviar'/>
        </form>
    {% else %}
        <p>Para responder debe haber iniciado sesion </p>
    {% endif %}
    <table>

        <tr>
            <th>Usuario</th>
            <th>Texto</th>
            <th>Fecha</th>
        </tr>

        {% for comentario in comentarios %}
            <tr>
                <td>{{comentario.usuario.username}}</td>
                <td>{{comentario.texto}}</td>
                <td>{{comentario.fecha | date:"d-M-Y"}}</td>
            </tr>
        {% empty %}
            <p> No hay ningun comentario hasta el momento </p>
        {% endfor %}

    </table>






</body>
</html>